* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    

    /* border: 1px solid black; */
}
html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    header {
        padding: 20px 30px;
        color: white;
        background-image: url(./images/sand-and-stone.jpg);
        background-position: center left;
        background-repeat: no;
        background-size: cover;
        background-color: #002152;

        #banner {
            font-size: 6rem;
        }

        #logo {
            display: block;
            font-size: 4rem;
        }
    }

    main {
        display: flex;
        flex: auto;
        font-size: 1.5rem;

        nav {
            padding: 10px 20px;

            background: #b8c9dc;

            ul {
                display: flex;
                flex-direction: column;                
                width: 15vw;
                margin-top: 20px;
                list-style-type: none;

                li{
                    margin:10px 0;

                    a {
                        color: black;
                    }
                }
               
            }
        }

        section {
            height: 100%;
            padding: 20px 8vw;

            div {
                display: flex;
            }

            h1 {
                margin: 15px 0;
                font-size: 2.5rem;
            }

            h2 {
                margin: 15px 0;
                font-size: 2rem;
            }

            h3 {
                margin: 10px 10px 10px 0;
                font-size: 1.5rem;
            }

            p {
                margin: 10px 0;
                text-align: justify;
            }

            li {
                margin: 10px 10px 10px 30px;
            }
        }
    }

    footer {
        margin-top: auto;
        padding: 10px;
        text-align: center;
        font-size: 1.5rem;
        color: white;
        background: #016699;
        /* background: #002152; */
    }
}