* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    

    /* border: 1px solid black; */
}
html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 966px;
    margin: 0 auto;
    border: 1px solid black;

    .orkneyCommunities {
        /* This element cannot be altered in any way */
        height: 26px;
        width: 100%;
        padding: 4px 10px;
        color: gold;
        background-color: rgb(0,33,82);
        font-weight: bold;
    }

    header {
        /* Only the text and background image of this element can be changed */
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 220px;
        padding: 0 50px;
        color: white;
        background-image: url(./images/sand-and-stone.jpg);
        background-position: center left;
        background-repeat: no;
        background-size: cover;
        background-color: #002152;

        #banner {
            font-size: 60px;
        }

        #logo {
            display: block;
            font-size: 40px;
        }
    }

    main {
        display: flex;
        flex: auto;

        nav {
            /* Only the colors, texture and text of this element can be changed. */
            width: 180px;
            padding: 20px 0;

            background: #487daa;

            ul {
                display: flex;
                flex-direction: column;                
                width: 100%;
                margin-top: 20px;
                list-style-type: none;
                background: white;
                border-top: 1px solid white;
                border-bottom: 1px solid white;

                li{
                    display: flex;
                    align-items: center;
                    margin: 2px 0;
                    padding: 0 11px;
                    height: 54px;
                    background: #dce4ee;

                    a {
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 12px;
                        text-decoration: none;
                        color: black;
                    }

                    a:hover, a.on {
                        background: #b8c9dc;
                        color: white;
                    }
                }

                li:hover {
                    background: #b8c9dc;
                    a {
                        color: white;
                    }
                }
               
            }
        }

        section {
            height: 100%;
            width: 692px;
            padding: 20px 8vw;

            div {
                display: flex;
            }

            h1 {
                margin: 15px 0;
                font-size: 2.5rem;
                /* 24px */
            }

            h2 {
                margin: 15px 0;
                font-size: 2rem;
                /* 20px */
            }

            h3 {
                margin: 10px 10px 10px 0;
                font-size: 1.5rem;
            }

            p {
                margin: 10px 0;
                text-align: justify;
                /* 16px */
            }

            li {
                margin: 10px 10px 10px 30px;
            }
        }
    }

    footer {
        /* This element can only contain a background image and cannot otherwise be altered. */
        height: 220px;
        background-image: url(./images/legal-info.jpg);
        background-position: center left;
        background-repeat: no;
        background-size: cover;
        background-color: #002152;
    }
}